<!doctype html>
<html lang="kr">
	<head>
		<meta charset="utf-8">
		<title>TodoList</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

		<link href="/home.css" rel="stylesheet">
	</head>
	<body>
		<div class="container home-container">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="text-center mb-4">
						<h1 class="mb-2">TodoList</h1>
						<p>기록하려면 로그인 또는 회원가입 하세요.</p>
					</div>
					<div class="d-grid gap-2">
						<a href="/login" class="btn btn-primary btn-lg">로그인</a>
						<a href="/signup" class="btn btn-success btn-lg">회원가입</a>
					</div>
				</div>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	</body>
</html>